branches:
  only:
  - master
language: node_js
node_js:
  - "12"
services:
  - docker

jobs:
  include:
    - stage: build
      before_script:
        - unset CI
        - npm ci
      script:
        - npm run build
        - docker build -t covidhelp/covidhelp-front:latest -t covidhelp/covidhelp-front:${TRAVIS_COMMIT::8} .
      after_success:
        - echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USER}" --password-stdin
        - docker push covidhelp/covidhelp-front
    - stage: deploy
      before_script:
        - eval "$(ssh-agent -s)"
        - ssh-add <(echo "$SSH_DEPLOY_KEY" | base64 --decode) > /dev/null
        - ssh-keyscan ${APP_DOMAIN} >> ~/.ssh/known_hosts
      script:
        - ssh ${SSH_USER}@${APP_DOMAIN} "cd ~/${APP_FOLDER} && git pull && export APP_DOMAIN=${APP_DOMAIN} && export ACME_EMAIL=${ACME_EMAIL} && export MONGO_USER=${MONGO_USER} && export MONGO_PASSWORD=${MONGO_PASSWORD} && export STAGE=${STAGE} && docker-compose pull && docker-compose up -d"