.dashboard-children {
  &.settings,
  &.users {
    margin: 0 auto;
  }
}

.main {
  .dashboard-children-wrapper {
    .tickets {
      display: flex;
      justify-content: space-between;

      > div {
        flex: 0 0 calc(50% - 20px);
      }
    }
  }
}
