h1.text-alpha {
  font-size: 32pt;
  line-height: 42pt;
  font-weight: 700;
  margin-bottom: 24px;
}

h2.text-alpha {
  font-size: 18pt;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 28px;
}

h3.text-alpha {
  font-size: 15pt;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 28px;
}

@media only screen and (max-width: 900px) {
  h1.text-alpha {
    line-height: 30pt;
    font-weight: 700;
    font-size: 22pt;
    margin-bottom: 16px;
  }

  h2.text-alpha {
    font-size: 16pt;
    margin-bottom: 20px;
  }

  h3.text-alpha {
    font-size: 14pt;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

.flex {
  display: flex;

  &_reverse {
    flex-direction: row-reverse;
  }
}

$spaces: (10, 20);
$sides: (top, bottom, left, right);

@each $space in $spaces {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
