.illustration {
  background-image: url("../assets/bg.jpg");
  width: 100%;
  height: 100vh;
  margin-left: -24px;
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: 900px) {
    height: 50vh;
    margin: 0px;
  }
}
