.input-container {
  .input {
    margin-top: 20px;
  }
  /*> div{
    width: 20%;
    float: left;
    &:first-child {
      float: left;
      width: 50%;
  }
  &:nth-child(2) {
    margin-left: 10px;
  }
  &:last-child {
    margin-top: 10px;
  }
}*/
}
