*, *::after, *::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background .2s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
}

main > .auth,
main > .request {
  padding: 0 5vw;}

  .auth-wrapper,
  .request-wrapper {
    max-width: 600px;
    margin: 0 auto;}


.dashboard {}

.dashboard-wrapper {
  max-width: 940px;
  margin: 0 auto;}

  .settings.dashboard-children {
    max-width: 600px;
    margin: 0 auto;
  }

  .main .dashboard-children-wrapper .tickets {
    display: flex;
    justify-content: space-between;}

    .main .dashboard-children-wrapper .tickets > div {
      flex: 0 0 calc(50% - 20px);}


.dashboard-children.users {
  max-width: 600px;
  margin: 0 auto;}
      
      
    

.ticket-list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0;}

.ticket {
  padding: 10px 0;}

  .ticket-wrapper {}

    .ticket-wrapper .footer {
      display: flex;}

.ticket-wrapper .footer h5:not(:last-child) {
  padding-right: 20px;}





.input-container .input {
  margin-top: 20px;
}

.action-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;}

  .invite-users.action-wrapper {
    justify-content: flex-end;}

    .invite-users.action-wrapper .input {
      width: unset;}

  .flex-end.action-wrapper {
    justify-content: flex-end;}

  .action-wrapper div:not(:first-child) {
    margin-left: 20px;}




h1.text-alpha {
  font-size: 32pt;
  line-height: 42pt;
  font-weight: 700;
  margin-bottom: 24px;}

  @media only screen and (max-width : 900px) {
    h1.text-alpha {
      line-height: 30pt;
      font-weight: 700;
      font-size: 22pt;
      margin-bottom: 16px;}} 


h2.text-alpha {
  font-size: 18pt;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 28px;}

  @media only screen and (max-width : 900px) {
    h2.text-alpha {
    font-size: 16pt;
    margin-bottom: 20px;}} 


h3.text-alpha {
  font-size: 15pt;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 28px;}

  @media only screen and (max-width : 900px) {
    h3.text-alpha {
      font-size: 14pt;
      font-weight: 400;
      margin-bottom: 20px;}} 


.area-wrapper {
  display: flex;
  flex-wrap: wrap;}

  .area-wrapper > .area {
    padding: 4px 8px 4px 0;
    cursor: pointer;}

.users-wrapper {
  display: flex;
  flex-direction: column;
}

.users-wrapper .user {
  font-size: 16pt;
  padding: 8pt 0;}



.filter-list {
  display: flex;
  align-items: center;}

  .filter-list > h5 {
    }


  .filter-list .filters {
    display: flex;}

    .filter-list .filters div {
      margin-left: 6px;}
