*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
}

main > .auth,
main > .request {
  padding: 0 5vw;
}

.auth-wrapper,
.request-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
