.ticket-list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.ticket {
  padding: 10px 0;
}

.ticket-wrapper {
  .footer {
    display: flex;
    h5:not(:last-child) {
      padding-right: 20px;
    }
  }
}
